<div>
	<p>{{message}}</p>

	{% if session.user is defined %}
		<p>Vous êtes connecté sur :
			{{session.user}}</p>
	{% endif %}

<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 14678f2057fc316b79f1fd8cb9ab1d026513bcfc
